<a href="https://colab.research.google.com/github/hoiyurie/tibame-ml0602/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris
#DateFrame : 表格 Serise：一行/一列

iris = load_iris()  
df = pd.DataFrame(iris["data"],
                  columns=iris["feature_names"])
df["ans"]=iris["target"]
df # 直接寫df比print（df）排版好看
df.to_csv("iris.csv",encoding="utf-8",index=False)  # 不要前面的index
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  ans
0                  5.1               3.5  ...               0.2    0
1                  4.9               3.0  ...               0.2    0
2                  4.7               3.2  ...               0.2    0
3                  4.6               3.1  ...               0.2    0
4                  5.0               3.6  ...               0.2    0
..                 ...               ...  ...               ...  ...
145                6.7               3.0  ...               2.3    2
146                6.3               2.5  ...               1.9    2
147                6.5               3.0  ...               2.0    2
148                6.2               3.4  ...               2.3    2
149                5.9               3.0  ...               1.8    2

[150 rows x 5 columns]

In [7]:
# sklearn前：用pandas.DataFrame
# sklearn後：用np.array

import numpy as np
from sklearn.model_selection import train_test_split
x, y = np.array(df.drop(["ans"],axis=1)),np.array(df["ans"])
# 90% x,10%x, 90%y, 10%y
x_train,x_test,y_train,y_test = train_test_split (x,
                                                  y,
                                                  test_size=0.1)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(135, 4)
(15, 4)
(135,)
(15,)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(x_train,y_train)  # fit資料喂進去

In [ ]:
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree
plt.figure(figsize=(10, 10))
plot_tree(clf,
          feature_names=iris["feature_names"],
          class_names=iris["target_names"],
          filled=True)

In [15]:
from sklearn.metrics import accuracy_score
pre = clf.predict(x_test)
accuracy_score(pre, y_test)

1.0