<a href="https://colab.research.google.com/github/hoiyurie/tibame-ml0602/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
from urllib.request import urlretrieve
url = "https://github.com/hoiyurie/tibame-ml0602/raw/main/titanic/train.csv"
urlretrieve(url,"train.csv")
url = "https://github.com/hoiyurie/tibame-ml0602/raw/main/titanic/test.csv"
urlretrieve(url,"test.csv")

('test.csv', <http.client.HTTPMessage at 0x7f3312cd4350>)

In [42]:
import pandas as pd
train_df = pd.read_csv("train.csv",encoding="utf-8")
test_df = pd.read_csv("test.csv",encoding="utf-8")

In [43]:
# 先把train data 和test data 兩個表格連結起來
data = pd.concat([train_df, test_df],ignore_index = True) # ingnore_index = True 重置合併後的index
data = data.drop(["PassengerId","Survived"], axis = 1)
# data

In [44]:
# 查看空值 data.isna（）
# 查看空值總數 data.isna().sum()
# 對Series做篩選[帶入跟你的資料筆數一樣多True/False list]

na = data.isna().sum()
na[na>0].sort_values(ascending= False) # ascending = False 小-大

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [45]:
# # apply 

# s = pd.Series([1,2,3])
# def func(n):
#   return n * n 
# s.apply(func)


# # lambda = def 
# # 多行 def
# # 少數幾行 lambda

# s= pd.Series([1, 2, 3])
# def func(n):
#   return n * n
# s.apply(lambda n:n*3)


# # 可以直接寫成
# s= pd.Series([1, 2, 3])
# s.apply(lambda n:n*3)

In [46]:
# 先處理一些數據：

#Cabin 取出首字母，可能代表艙位等級

def cabin_head(s):
  if not pd.isna(s):
    return s[0]
  # else:
  #   return s  # 回傳NAN

data["Cabin"] = data["Cabin"].apply(cabin_head)

In [47]:
# Ticket 可以看出同行人數

dic = data["Ticket"].value_counts()
data["Ticket"] = data["Ticket"].apply(lambda t:dic[t])

In [48]:
# 補缺失值（類別：最常出現）
# ！！！如果有一堆測試資料，不要重新算，直接補S(補最多的) !!!! 

# Embarked  登船點--> 補成 最多人使用的登船點
# data["Embarked"]

most = data["Embarked"].value_counts().idxmax() # idxmax 最大值的索引
data["Embarked"] = data["Embarked"].fillna(most)
na = data.isna().sum()
na[na > 0].sort_values(ascending = False)

Cabin    1014
Age       263
Fare        1
dtype: int64

In [49]:
# 補缺失值（數值：中位數）

med = data.median().drop(["Pclass"]) # Pclass 不能補中位數, 先除掉
data = data.fillna(med)
na = data.isna().sum()
na[na > 0].sort_values(ascending = False)

Cabin    1014
dtype: int64

In [50]:
# data --> 看名字

In [51]:
# Braund, Mr. Owen Harris

def name_convert(s):
  s = s.split(",")[-1].split(".")[0] # 把Braund, Mr. Owen Harris 切割，取出Mr
  s= s.strip() # 去掉前後空格
  return s 
counts = data["Name"].apply(name_convert).value_counts()
whitelist = counts[counts > 50].index
# whitelist
def name_convert(s):
  s = s.split(",")[-1].split(".")[0]
  s = s.strip()
  if s in whitelist:
    return s
  else:
    return None
  
data["Name"] = data["Name"].apply(name_convert)

In [52]:
# One-Hot encoding

data = pd.get_dummies(data)
data = pd.get_dummies(data, columns=["Pclass"])
data


# 特別針對Pclass再做一次one-hot

       Age  SibSp  Parch  Ticket  ...  Embarked_S  Pclass_1  Pclass_2  Pclass_3
0     22.0      1      0       1  ...           1         0         0         1
1     38.0      1      0       2  ...           0         1         0         0
2     26.0      0      0       1  ...           1         0         0         1
3     35.0      1      0       2  ...           1         1         0         0
4     35.0      0      0       1  ...           1         0         0         1
...    ...    ...    ...     ...  ...         ...       ...       ...       ...
1304  28.0      0      0       1  ...           1         0         0         1
1305  39.0      0      0       3  ...           0         1         0         0
1306  38.5      0      0       1  ...           1         0         0         1
1307  28.0      0      0       1  ...           1         0         0         1
1308  28.0      1      1       3  ...           0         0         0         1

[1309 rows x 25 columns]

In [53]:
# 模型建立完, 後續的嘗試, 只是我嘗試過, 所以我直接做
data["Family"] = data["SibSp"] + data["Parch"]
data

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0       1  ...         0         0         1       1
1     38.0      1      0       2  ...         1         0         0       1
2     26.0      0      0       1  ...         0         0         1       0
3     35.0      1      0       2  ...         1         0         0       1
4     35.0      0      0       1  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[1309 rows x 26 columns]

In [54]:
#### RandomForest

In [55]:
print(len(data))
print(data.shape)

1309
(1309, 26)

In [56]:
# .loc(根據列編號)（X)   
# .iloc(根據第幾個)(O)
# .iloc[第一列，第二列，第三列...]

x_train = data.iloc[:train_df.shape[0]]
y_train = train_df["Survived"]
x_predict = data.iloc[train_df.shape[0]:]
# x_train

In [57]:
data

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0       1  ...         0         0         1       1
1     38.0      1      0       2  ...         1         0         0       1
2     26.0      0      0       1  ...         0         0         1       0
3     35.0      1      0       2  ...         1         0         0       1
4     35.0      0      0       1  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[1309 rows x 26 columns]

In [58]:
# # 利用GridSearchCV 找參數


# import numpy as np
# from sklearn.model_selection import GridSearchCV  
# from sklearn.model_selection import cross_val_score
# from sklearn.ensemble import RandomForestClassifier
# params = {
#     # 1. 5 2. [1, 2, 3] 3. range
#     # 20~99
#     "n_estimators":range(20, 100),
#     # 3~10
#     "max_depth":range(3, 11)
# }
# clf = RandomForestClassifier()
# cv = GridSearchCV(clf, params, cv=10, n_jobs=-1)
# cv.fit(x_train, y_train)
# print(cv.best_score_)
# print(cv.best_params_)

# # RandomForest 可以 classifier/regressor/embedding

In [94]:
# 利用GridSearchCV 找到參數的參數再調整


clf = RandomForestClassifier(n_estimators=25, max_depth=8) 
 # n_estimators 隨機森林的數量（20~100）
scores = cross_val_score(clf, x_train, y_train, cv=10, n_jobs=-1)
# cv就寫10就好
print("10:", scores)
print("average:", np.average(scores))

clf.fit(x_train,y_train)
pre = clf.predict(x_predict)
df = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})

df.to_csv("rf.csv",encoding = "utf-8", index=False)
df

10: [0.78888889 0.84269663 0.75280899 0.88764045 0.87640449 0.84269663
 0.83146067 0.78651685 0.88764045 0.83146067]
average: 0.8328214731585518

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [95]:
# KNN

from sklearn.preprocessing import MinMaxScaler,StandardScaler,RobustScaler
scaler = MinMaxScaler()
data_scale = scaler.fit_transform(data)
data_scale = pd.DataFrame(data_scale, columns=data.columns)
# .loc (根據列編號)(X) .iloc (根據第幾個)(O)
# .iloc [第一列, 第二列, 第三列...]
x_train_scale = data_scale.iloc[:train_df.shape[0]]
x_predict_scale = data_scale.iloc[train_df.shape[0]:]
x_train_scale

          Age  SibSp     Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0    0.273456  0.125  0.000000     0.0  ...       0.0       0.0       1.0     0.1
1    0.473882  0.125  0.000000     0.1  ...       1.0       0.0       0.0     0.1
2    0.323563  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
3    0.436302  0.125  0.000000     0.1  ...       1.0       0.0       0.0     0.1
4    0.436302  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
..        ...    ...       ...     ...  ...       ...       ...       ...     ...
886  0.336089  0.000  0.000000     0.0  ...       0.0       1.0       0.0     0.0
887  0.235876  0.000  0.000000     0.0  ...       1.0       0.0       0.0     0.0
888  0.348616  0.125  0.222222     0.3  ...       0.0       0.0       1.0     0.3
889  0.323563  0.000  0.000000     0.0  ...       1.0       0.0       0.0     0.0
890  0.398722  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0

[891 rows x 26 columns]

In [96]:
from sklearn.neighbors import KNeighborsClassifier
params = {
    "n_neighbors":range(3, 100)
}
clf = KNeighborsClassifier()
cv = GridSearchCV(clf, params, cv=10, n_jobs=-1)
cv.fit(x_train_scale, y_train)
print(cv.best_score_)
print(cv.best_params_)

0.832796504369538
{'n_neighbors': 7}

In [97]:
clf = KNeighborsClassifier(n_neighbors=11)
clf.fit(x_train_scale, y_train)
pre = clf.predict(x_predict_scale)
df = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("knn.csv", encoding="utf-8", index=False)
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]